<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row bg-green w-100">
    <div class="col-sm-6 col-12 left-box position-relative bg-white p-2" style="border-radius: 15px;">
     
      <div class="header-logo d-flex justify-content-end">
        <img src="download__6_-removebg-preview.png" class="img-fluid" style="width: 80px; height:80px;" alt="Paytm Logo">
      </div>
      <div class="row1 ms-3 mt-0">
        <h2 class="mb-0 fw-bold ">Hi,</h2>
        <h2 class="mb-1 fw-bold">Welcome back</h2>
        <p class="mb-1 fs-6 text-muted">We are happy to hear from you</p>
      </div>
      <div class="form-container mt-1 col-xs-6" style="height:150px; overflow-y:auto; padding:20px;">
        <div class="row mb-1">
          <div class="col-sm-6 col-12">
            <label for="firstname" class="mb-1 fs-6">First Name</label>
            <input type="text" class="form-control" id="firstname" placeholder="Enter your first Name">
          </div>
          <div class="col-sm-6 col-12">
            <label for="lastname" class="mb-1 fs-6">Last Name</label>
            <input type="text" class="form-control" id="lastname" placeholder="Enter your last Name">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-6 col-12">
            <label for="email" class="mb-1 fs-6">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your mail">
          </div>
          <div class="col-sm-6 col-12">
            <label for="phone" class="mb-1 fs-6">Phone Number</label>
            <input type="tel" class="form-control" id="phone" placeholder="9544548002">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-6 col-12">
            <label for="selectuser" class="mb-1 fs-6">Select User Type</label>
            <select class="form-select" id="selectuser">
              <option value="selectuser">selectuser</option>
              <option value="user">User</option>
              <option value="merchant">Merchant</option>
              <option value="default">Default</option>
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-6 col-12">
            <label for="password" class="mb-1 fs-6">Password</label>
            <input type="password" class="form-control" id="password" placeholder="password">
          </div>
          <div class="col-sm-6 col-12">
            <label for="confirmpassword" class="mb-1 fs-6">Confirm Password</label>
            <input type="password" class="form-control" id="confirmpassword" placeholder="confirm password">
          </div>
        </div>
        <p class=" fs-6">Password must contain:</p>
        <ul class=" mt-1 fs-6 col-sm-12  ">
          <li>At least 8 characters</li>
          <li>At least 1 lower letter(a-z)</li>
          <li>At least 1 uppercase letter(A-Z)</li>
          <li>At least 1 number(0-9)</li>
          <li>At least 1 special character</li>
        </ul>
      </div>
      <div class="col-sm-6 ms-3 fs-6 mt-4">
        <button type="submit" class="btn col-8 mb-2" style="color: lightgreen; background-color: rgb(8, 72, 8);">Create Account</button>
      </div>
      <div>
        <p class="ms-3">Already have an account? <a href="#" style="color: rgb(8, 72, 8);">signin</a></p>
      </div>
    </div>
    <div class="col-sm-6 col-12 right-box d-flex justify-content-center align-items-center flex-column"
      style="background-color: rgb(108, 229, 84);">
      <div class="featured-image">
        <img src="login-new.png" class="img-fluid" style="max-width: 100%; height: auto;" alt="Featuredimage">
      </div>
    </div>
  </div>
</div>
